# Frontend (Vercel)
NEXT_PUBLIC_SITE_URL=https://www.piccolokids.com.ar
NEXT_PUBLIC_API_URL=https://piccolo-api.up.railway.app

# Backend/BFF (Railway)
PORT=8080
BACKEND_ORIGIN=https://www.piccolokids.com.ar
ALLOWED_ORIGINS=https://www.piccolokids.com.ar,https://piccolo-web.vercel.app
